In [ ]:
# Q1. chipotle 데이터를 로드해주세요.

In [2]:
import pandas as pd
chip_df = pd.read_csv('./chipotle.tsv', engine='python', sep='\t') # hint sep 파라미터를 활용한다.

In [ ]:
# 강사님 답
chipo_df = pd.read_csv('./chipotle.tsv', engine='python', sep='\t')

In [6]:
# Q2. 'quantity'의 값이 3인 데이터를 추출한다.
# 0부터 index를 재정렬한 후 상위 5개행만을 추출해보자.

In [9]:
chip_df[chip_df.quantity == 3].reset_index().head(5)

,index,order_id,quantity,item_name,choice_description,item_price
0,409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,689,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,818,338,3,Bottled Water,NaN,$3.27
4,850,350,3,Canned Soft Drink,[Sprite],$3.75

In [ ]:
# 강사님 답
# 1.
cond1 = chiop_df.quantity == 3
chipo_df[cond1].reset_index().head(5)

In [ ]:
# 2.

In [7]:
# Q3 'quantity', 'item_name', 'item_price'로만 구성된 데이터 프레임을
# new_df라고 정의해보자.

In [6]:
new_df = chip_df[['quantity', 'item_name', 'item_price']]

In [ ]:
# 강사님 답
# 1.
new_df = chipo_df[['quantity', 'item_name', 'item_price']]

In [10]:
# Q4 'item_name'이 'Chicken Burrito'인 데이터 프레임을 추출하고 인덱스를 초기화해보세요 ^^

In [8]:
chip_df[chip_df.item_name == 'Chicken Burrito'].reset_index()

,index,order_id,quantity,item_name,choice_description,item_price
0,16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
1,17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
2,23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
3,29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
4,45,21,1,Chicken Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$10.98
...,...,...,...,...,...,...
548,4556,1811,1,Chicken Burrito,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$11.25
549,4558,1812,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
550,4559,1812,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Gua...",$11.25
551,4566,1816,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Pinto Beans, Chees...",$8.75
552,4569,1817,1,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice]]",$8.75

In [ ]:
# 강사님 답
chipo_df.item_name.value_counts()
chipo_df[chipo_df.item_name=='Chicken Burrito'].reset_index(drop=True)

In [ ]:
# Q5 'item_name'중 'Burrito'가 포함된 경우의 데이터를 호출해주세요. 난이도-상

In [17]:
chip_df['Burrito' in chip_df.item_name]

KeyError: False

In [ ]:
# 강사님 답
# lambda는 복잡해져
# chipo_df.item_name.str[:]
chipo_df[chipo_df.item_name.str.contains('Burrito')]
# .item_name.value_counts()로 제대로 가져왔는지 확인

In [11]:
# Q6 'item_name'값이 Steak Salad 또는 Bowl인 데이터를 호출해주세요.- 난이도-중

In [ ]:
# 강사님 답
chipo_df[(chipo_df.item_name == 'Steak Salad') | (chipo_df.item_name == 'Bowl Salad')]

In [12]:
# Q7. 전체 데이터의 결측값의 개수를 구해주세요.

In [13]:
chip_df.isna().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [ ]:
# 강사님 답
chipo_df.isna().sum()
# chipo_df.isna().sum()[-2]  # 가져오기

In [ ]:
# end of file