In [1]:
import numpy as np
import pandas as pd

In [ ]:
# Q1. 데이터 로드르 해보세요

In [2]:
lol_df = pd.read_csv('./archive/games.csv')

In [ ]:
# 강사님 답
game_df = pd.read_csv('./lol_data/games.csv')

In [ ]:
# Q2. 데이터 상위의 3개 행만 추출해보세요

In [3]:
lol_df.head(3)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28

In [ ]:
# 강사님 답
games_df.head(3)

In [ ]:
# Q3. 데이터의 행과 열의 개수를 파악하라

In [6]:
lol_df.shape

(51490, 61)

In [ ]:
# 강사님 답
answer = game_df.shape
print(answer)

In [ ]:
# Q4. 전체 컬럼을 출력해보세요

In [7]:
lol_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51490 entries, 0 to 51489
Data columns (total 61 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gameId              51490 non-null  int64
 1   creationTime        51490 non-null  int64
 2   gameDuration        51490 non-null  int64
 3   seasonId            51490 non-null  int64
 4   winner              51490 non-null  int64
 5   firstBlood          51490 non-null  int64
 6   firstTower          51490 non-null  int64
 7   firstInhibitor      51490 non-null  int64
 8   firstBaron          51490 non-null  int64
 9   firstDragon         51490 non-null  int64
 10  firstRiftHerald     51490 non-null  int64
 11  t1_champ1id         51490 non-null  int64
 12  t1_champ1_sum1      51490 non-null  int64
 13  t1_champ1_sum2      51490 non-null  int64
 14  t1_champ2id         51490 non-null  int64
 15  t1_champ2_sum1      51490 non-null  int64
 16  t1_champ2_sum2      51490 non-null  int64
 17  t1_champ3id         51490 non-null  int64
 18  t1_champ3_sum1      51490 non-null  int64
 19  t1_champ3_sum2      51490 non-null  int64
 20  t1_champ4id         51490 non-null  int64
 21  t1_champ4_sum1      51490 non-null  int64
 22  t1_champ4_sum2      51490 non-null  int64
 23  t1_champ5id         51490 non-null  int64
 24  t1_champ5_sum1      51490 non-null  int64
 25  t1_champ5_sum2      51490 non-null  int64
 26  t1_towerKills       51490 non-null  int64
 27  t1_inhibitorKills   51490 non-null  int64
 28  t1_baronKills       51490 non-null  int64
 29  t1_dragonKills      51490 non-null  int64
 30  t1_riftHeraldKills  51490 non-null  int64
 31  t1_ban1             51490 non-null  int64
 32  t1_ban2             51490 non-null  int64
 33  t1_ban3             51490 non-null  int64
 34  t1_ban4             51490 non-null  int64
 35  t1_ban5             51490 non-null  int64
 36  t2_champ1id         51490 non-null  int64
 37  t2_champ1_sum1      51490 non-null  int64
 38  t2_champ1_sum2      51490 non-null  int64
 39  t2_champ2id         51490 non-null  int64
 40  t2_champ2_sum1      51490 non-null  int64
 41  t2_champ2_sum2      51490 non-null  int64
 42  t2_champ3id         51490 non-null  int64
 43  t2_champ3_sum1      51490 non-null  int64
 44  t2_champ3_sum2      51490 non-null  int64
 45  t2_champ4id         51490 non-null  int64
 46  t2_champ4_sum1      51490 non-null  int64
 47  t2_champ4_sum2      51490 non-null  int64
 48  t2_champ5id         51490 non-null  int64
 49  t2_champ5_sum1      51490 non-null  int64
 50  t2_champ5_sum2      51490 non-null  int64
 51  t2_towerKills       51490 non-null  int64
 52  t2_inhibitorKills   51490 non-null  int64
 53  t2_baronKills       51490 non-null  int64
 54  t2_dragonKills      51490 non-null  int64
 55  t2_riftHeraldKills  51490 non-null  int64
 56  t2_ban1             51490 non-null  int64
 57  t2_ban2             51490 non-null  int64
 58  t2_ban3             51490 non-null  int64
 59  t2_ban4             51490 non-null  int64
 60  t2_ban5             51490 non-null  int64
dtypes: int64(61)
memory usage: 24.0 MB

In [ ]:
# 강사님 답
game_df.columns()

In [ ]:
# Q5. 7번째 컬럼명을 출력하라

In [8]:
lol_col = lol_df.columns
lol_col[7]

'firstInhibitor'

In [ ]:
# 강사님 답
game_df.columns[6]

In [ ]:
# Q6. 9번째 컬럼의 자료속성의 데이터 타입을 출력하라

In [11]:
lol_col[9].dtype

AttributeError: 'str' object has no attribute 'dtype'

In [ ]:
# 강사님 답
# iloc: 위치기반 인덱싱
# loc: 명칭기반 인덱싱
game_df.iloc[:,8]

# 깔끔하게 답만 추출하는 방법
game_df.iloc[:,8].dtype

In [ ]:
# Q7. 데이터셋의 인덱스를 확인하는 방법은? (안 배웠음)

In [ ]:
# 시간 부족,,

In [ ]:
# 강사님 답
game_df.index

In [ ]:
# Q8. 9번째 컬럼의 3번쨰 값은?

In [ ]:
# 강사님 답
game_df.iloc[2,8]

In [ ]:
# Q9. 문자형 데이터를 가진 컬럼을 추출해보자 (안 배웠음)

In [ ]:
?pd.DataFrame.select_dtypes

In [ ]:
# 강사님 답
# select_dtypes()함수
game_df.select_dtypes(include='object') # include // exclude
# 답이 없다!!!!!!

In [ ]:
# end of files