In [2]:
# q1. jeju 데이터를 로드해보세요. 컬럼이 한글이므로 적절한 처리가 필요

In [2]:
import pandas as pd
import numpy as np
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic' # 윈도우즈의 '맑은 고딕'
matplotlib.rcParams['axes.unicode_minus'] = False
jeju_df = pd.read_csv('./jeju.csv')

In [ ]:
# 강사님 정답
import pandas as pd
jeju_df = pd.read_csv('./jeju.csv', encoding='utf-8')

In [3]:
# q2. 데이터의 마지막 3개 행을 호출해보세요.

In [4]:
jeju_df.tail(3)

,Unnamed: 0,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
9618,9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.0
9619,9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.5
9620,9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.8

In [ ]:
# 강사님 정답
jeju_df.tail(3)

In [4]:
# q3. 범주형 변수를 가진 컬럼을 출력해보세요.

In [6]:
jeju_df

AttributeError: 'DataFrame' object has no attribute 'column'

In [ ]:
# 강사님 정답
# 문자열 데이터 (명목형, 서열형)
# select_dtypes
jeju_df.select_dtypes(include='object').columns

In [5]:
# q4. 숫자형 변수를 가진 컬럼을 출력해보세요.

In [ ]:
jeju_df.

In [ ]:
# 강사님 정답
# jeju_df.select_dtypes(include=['int64', 'float64']).columns
jeju_df.select_dtypes(exclude='object').columns

In [6]:
# q5. 각 컬럼들의 결측치 숫자들을 파악해보세요.

In [7]:
jeju_df.isna().sum()

Unnamed: 0    0
id            0
일자            0
시도명           0
읍면동명          0
거주인구          0
근무인구          0
방문인구          0
총 유동인구        0
평균 속도         0
평균 소요 시간      0
평균 기온         0
일강수량          0
평균 풍속         0
dtype: int64

In [ ]:
# 강사님 정답
jeju_df.isna().sum()

In [7]:
# q6. 각 컬럼의 데이터수, 데이터타입을 한 번에 확인해보세요.

In [8]:
jeju_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9621 non-null   int64
 1   id          9621 non-null   int64
 2   일자          9621 non-null   object
 3   시도명         9621 non-null   object
 4   읍면동명        9621 non-null   object
 5   거주인구        9621 non-null   float64
 6   근무인구        9621 non-null   float64
 7   방문인구        9621 non-null   float64
 8   총 유동인구      9621 non-null   float64
 9   평균 속도       9621 non-null   float64
 10  평균 소요 시간    9621 non-null   float64
 11  평균 기온       9621 non-null   float64
 12  일강수량        9621 non-null   float64
 13  평균 풍속       9621 non-null   float64
dtypes: float64(9), int64(2), object(3)
memory usage: 1.0+ MB

In [ ]:
# 강사님 정답
jeju_df.info()

In [8]:
# q7. 거주인구, 근무인구와 방문인구, 총 유동인구로만 구성된 df를 만드세요.

In [ ]:
# 강사님 정답
# 방법1.
new_df = jeju_df[['거주인구', '근무인구', '방문인구', '총 유동인구']]

In [ ]:
# 방법2.
new_df = jeju_df.iloc[:,5:9]

In [ ]:
# q8 위에서 생성된 df에 행을 추가해주세요
# 추가 행값은 min값으로 해주세요.

In [ ]:
# 강사님 정답
new_df.describe()

In [ ]:
min_거주인구 = jeju_df.거주인구.min()
min_근무인구 = jeju_df.근무인구.min()
min_방문인구 = jeju_df.방문인구.min()
min_총_유동인구 = jeju_df['총_유동인구'].min()

In [ ]:
print(min_거주인구, min_근무인구, min_방문인구, min_총_유동인구)

In [ ]:
new_df.loc[new_df.shape[0]] = [min_거주인구, min_근무인구, min_방문인구, min_총_유동인구]

In [11]:
# q9. 총 유동인구 컬럼의 값들을 출력해보세요.

In [9]:
jeju_df['총 유동인구']

0        138377.345
1        336534.958
2       1850497.533
3        112181.825
4        315323.303
           ...
9616     397984.186
9617     735666.605
9618     115595.073
9619     628273.792
9620    1523938.917
Name: 총 유동인구, Length: 9621, dtype: float64

In [ ]:
# 강사님 정답
jeju_df['총 유동인구']

In [10]:
# q10. 시도명의 유일값의 개수를 구해보세요.

In [ ]:
# 강사님 정답
# nunique
jeju_df.읍면동명.nunuque()

In [ ]:
len(jeju_df.시도명.value_counts())

In [ ]:
empty_df = pd.DataFrame({'거주인구':[],
                        '근무인구':[],
                        '방문인구':[],
                        '총 유동인구':[]})

In [ ]:
empty_df.loc[2] = new_df.min()

In [ ]:
empty_df